.avatar-container {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.avatar
{
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
}

.avatar-post
{
    margin-top: 1rem;
    font-size: 1.4rem;
    text-align: center;
}

.avatar-text
{
    color: rgb(140, 140, 140);
    font-size: 1.1rem;
    text-align: center;
}






.product-image
{
    width: 100%;
    border-radius: 0.5rem;
    border : 1px solid rgb(210, 210, 210);
}

.product-name
{
    font-size: 1.4rem;
}

.product-description
{
    font-size: 1.1rem;
    color : rgb(60,60,60);
}

.product-price
{
    padding : 0.5rem;
    border-radius : 0.5rem;
    border : 1px solid rgb(210, 210,210);
    margin : 0 1rem
}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


.reviews 
{
    width : 75%;
    border : 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px auto;

}

.reviews img 
{
    float: left;
    margin-right: 20px;
    border-radius: 100%;
    width: 90px;
}

.reviews span 
{
    font-size: 18px;
    margin-right: 15px;
}

@media (max-width: 450px)
{
  .reviews
  {
    text-align: center;
  }
  .reviews img
  {
    margin: auto;
    float: none;
    display: block;
  }
}


.employee-card:hover
{
    background-color: #e5f4ff;
}

.employee-card img.avatar {
    border-radius: 50% !important;
    width: 200px !important;
    height: 200px !important;
    object-fit: cover !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}